<%- include("../partials/header") %>
    <%- include("../partials/navbar") %>



        <div class="login-flash">
            <%- include("../partials/flash") %>
        </div>

        <div class="login-container">


            <div class="login-nav-container">



                <h3><a href="/login">LOGIN</a></h3>
                <!-- <h3><a href="/register">SIGN UP</a></h3> -->

            </div>
            <div class="login-main-container">
                <form action="/login" method="post">
                    <div class="loginUsername-container">
                        <!-- <label for="">USERNAME</label><br> -->
                        <input type="text" name="username" placeholder="USERNAME" required>
                    </div>
                    <div class="loginPassword-container">
                        <!-- <label for="">PASSWORD</label><br> -->
                        <input type="password" name="password" placeholder="PASSWORD" id="" required>
                    </div>


                    <button type="submit">SIGN IN</button>
                    <a href="">Forget Password?</a>
                    <a href="/register">SIGN UP ?</a>

                </form>

            </div>
        </div>

        <%- include("../partials/footer") %>