<%- include("../partials/header")%>
    <%- include("../partials/navbar") %>



        <div class="contact-container">
            <h1>CONTACT US</h1>
            <hr width="100%">

            <h3>CALL US</h3>
            <p><b>+91 9990628212 , 1(234)567-981</b></p>

            <h3>LOCATION</h3>
            <p>121 , Ashok Nagar near Bhati Property Dealer Delhi-110094</p>

            <h3>BUSINESS HOUR</h3>
            <p>Mon-Fri... 10am - 8pm , Sat-Sun...Closed</p>
        </div>











        <%- include("../partials/footer")%>