<%- include("./partials/header")%>
    <%- include("./partials/navbar")%>


        <div class="errorContainer">
            <h1>This is Error Page</h1>
        </div>

        <style>
            .errorContainer {
                width: 80vw;
                height: 50vh;
                color: grey;
                background-color: beige;
                margin-top: 100px;
            }
        </style>

        <%- include("./partials/footer")%>