.signUp-container {
    width: 600px;
    height: 600px;
    background-color: rgb(232, 142, 77);
    margin: 145px auto;
    box-shadow: 8px 8px 5px rgb(163, 102, 57);
}

.signUp-nav-container a {
    /* text-decoration: none; */
    font-size: 50px;
    display: inline-block;
    margin: 50px 116px;
    color: rgb(77, 77, 77);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signUp-main-container input {
    width: 340px;
    height: 35px;
    display: inline-block;
    margin: 7px 130px;
    text-align: center;
    border-radius: 16px;
    font-size: 22px;
}


.signUp-main-container button {
    width: 340px;
    font-size: 28px;
    margin: 32px 135px;
    background-color: black;
    border-radius: 5px;
    color: white;
}

.signUp-main-container a {
    font-size: 18px;
    display: inline-block;
    margin: 12px 230px;
    /* font-weight: bold; */

    color: rgb(37, 37, 37);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}