.hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.3em;
    border-top: 0.2em solid #fff;
    border-bottom: 0.2em solid #fff;
    cursor: pointer;
}

.hamburger:before {
    content: "";
    position: absolute;
    top: 0.3em;
    left: 0px;
    width: 100%;
    border-top: 0.2em solid #fff;
}

/* //navbar */
.hamburger-toggle {
    display: none;
}

@media screen and (max-width:1395px) {
    .service-list {
        height: 240px;
        /* border: 2px solid black; */
    }

}


@media screen and (max-width:770px) {
    .service-list {
        height: 400px;
    }

}

@media screen and (max-width:726px) {
    .service-list {
        height: 520px;
    }

}


@media screen and (max-width:991px) {
    .hamburger-toggle {
        display: block;
        margin-right: 50px;
    }

    .navbar-list {
        position: absolute;
        background-color: white;
        left: -100%;
        width: 100%;
        top: 100px;
        text-align: center;
        transition: 0.5s ease-in-out;
    }

    .navbar-list.active {
        left: 0;
    }

    .navbar {
        overflow: initial;
    }

    .navbar-list {
        display: flex;
    }


    .navbar-container ul {
        flex-direction: column;
    }

}


/* Responsive Contact Page */

@media screen and (max-width:991px) {
    .contact-container {
        width: 60vw;
        height: 70vh;
    }
}




/* //Responsive login and signup page */
@media screen and (max-width:620px) {
    .signUp-container {
        width: 100vw;
        height: 70vh;
    }
}

@media screen and (max-width:620px) {
    .login-container {
        width: 100vw;
        height: 70vh;
    }
}








/* //Responsive Vie Product With review Form */


@media screen and (max-width:1683px) {
    .product-container {
        width: 690px;
        height: 1000px;
    }

    .rating-box {
        width: 550px;
        height: 430px;
    }

    .rating-list h2 {
        width: 590px;

    }
}

@media screen and (max-width:1500px) {
    .product-container {
        width: 550px;
        height: 1050px;
    }

}

@media screen and (max-width:1560px) {
    .product-container {
        width: 1130px;
        height: 1350px;
    }


}

@media screen and (max-width:1300px) {
    .show-container {
        flex-wrap: wrap;
    }

    .product-container {
        width: 800px;
        height: 900px;
    }

    .product-container img {
        width: 650px;
    }

    .rating-box {
        width: 60vw;
        height: 40vh;
    }

    .rating-list {
        min-width: 60vw;
        min-height: 50vh;
        /* border: 5px solid greenyellow; */
    }

    .rating-list h2 {
        min-width: 60vw;
    }

    .show-review {
        width: 60vw;
        height: 40vh;
    }

    .rating-container {
        margin-left: 100px;
    }

}

@media screen and (max-width:1240px) {
    .product-container {
        width: 800px;
        height: 950px;
        margin: 50px auto;
    }

    .rating-container {
        width: 800px;
        height: 950px;
        margin: 50px auto;
    }



    .rating-box {
        width: 700px;
        height: 430px;
    }

    .rating-list h2 {
        width: 730px;

    }

}


@media screen and (max-width:900px) {
    .product-container {
        margin: 50px auto;
    }

    .product-container {
        width: 700px;
        height: 950px;
    }

    .rating-box {
        width: 60vw;
        height: 350px;
        margin: 2px auto;
        box-shadow: 5px 5px 10px rgb(239, 168, 118);
    }

    .rating-list {
        width: 60vw;
        height: 350px;
        margin: 2px auto;
        /* box-shadow: 5px 5px 10px grey */
    }

    .rating-list h2 {
        width: 60vw;
    }

    .product-container img {
        width: 400px;
    }


}



@media screen and (max-width:735px) {
    .product-container {
        height: 1150px;
    }

    .rating-box {
        width: 400px;
    }

    .rating-list h2 {
        width: 370px;
        margin: 2px auto;
    }

    .rating-box textarea {
        margin: 1px auto;
    }
}